.conteudo {
   
    border-style: dashed;
    width: 100vw;
    align-self: center;
    
}
.pic{
    width: 95vw;
    margin: 0 auto;
    border-style: dashed;
    padding:20px;
       
}

.imagem{
    position: relative;
    
    padding:10px;
}
video, canvas {
    
    margin:0;
    position:absolute;
    border-style: dashed;
       
  }

.alert{
    display:none;
}



.demo-container{
    height: 400px;
    margin-bottom: 20px;

}